@charset "UTF-8";

/*
  Author: ✰ Konstantin Aleksandrov ✰ https://github.com/koalex

  File Structure :
    1.  Name
    	1.1. Sub-name
*/

/************************
  1. Name
************************/

/* 1.1  Sub-name */

:local(.ip-address-dot-delim)
  font-size 48px
  line-height 0
  vertical-align middle

:local(.ip-address-port-delim)
  font-size 48px
  line-height 0
  vertical-align middle

:local(.ip-address-parts)
  height 50px !important

:local(.ip-address-part), :local(.ip-address-port)
  padding-left 8px
  width 48px !important
  height 48px !important
  border-width 2px
  border-style solid
  box-sizing border-box

:local(.ip-address-port)
  width 68px !important