@charset "UTF-8";
/*
  Author: ✰ Konstantin Aleksandrov ✰

  File Structure :
    1.  ArialNarrow

*/

/************************
  1. ArialNarrow
************************/

@font-face {
  font-family: 'ArialNarrow';
  src: local('Arial Narrow'), local('ArialNarrow'), url('../fonts/ArialNarrow/ArialNarrow.eot');
  src: url('../fonts/ArialNarrow/ArialNarrow.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ArialNarrow/ArialNarrow.woff') format('woff'),
       url('../fonts/ArialNarrow/ArialNarrow.ttf')  format('truetype'),
       url('../fonts/ArialNarrow/ArialNarrow.svg#ArialNarrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: local('RobotoLigh'), url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: local('RobotoMedium'), url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: local('RobotoBold'), url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
